parameters:
    checkMissingIterableValueType: false
    level: 7
    paths:
        - ./
    excludes_analyse:
        - %rootDir%/../../../vendor/*
        - %rootDir%/../../../tests/*
    ignoreErrors:
        - '#Access to an undefined property Zend_Session_Namespace::\$word\.#'
        - '#Call to an undefined method Zend_View_Abstract::doctype\(\)\.#'
        - '#Call to an undefined method Zend_View_Interface::.+\(\)\.#'
        - '#Call to an undefined method Zend_Form\|Zend_Form_DisplayGroup\|Zend_Form_Element::get.+\(\)\.#'
        -
            message: '#Negated boolean expression is always false\.#'
            path: './src/Zend/Captcha/ReCaptcha.php'
        -
            message: '#If condition is always true\.#'
            path: './src/Zend/Captcha/Word.php'
        -
            message: '#Parameter \#1 \$(argument|objectOrClass) of class ReflectionClass constructor expects class-string<T of object>\|T of object, string given\.#'
            path: './src/Zend/Form/Element/Captcha.php'
